
@font-face {
  font-family: 'BigJohn';
  src: url('../fonts/BigJohn.eot?#iefix') format('embedded-opentype'),  url('../fonts/BigJohn.otf')  format('opentype'),
	     url('../fonts/BigJohn.woff') format('woff'), url('../fonts/BigJohn.ttf')  format('truetype'), url('../fonts/BigJohn.svg#BigJohn') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SlimJoe';
  src: url('../fonts/SlimJoe.eot?#iefix') format('embedded-opentype'),  url(../fonts/'SlimJoe.otf')  format('opentype'),
	     url(../fonts/'SlimJoe.woff') format('woff'), url(../fonts/'SlimJoe.ttf')  format('truetype'), url(../fonts/'SlimJoe.svg#SlimJoe') format('svg');
  font-weight: normal;
  font-style: normal;
}
